*{
	margin: 0px;
	padding: 0px;

}

body{
	
	padding-left: 55px  ;
	padding-right: 55px;
}

.heading{
	font-size: 5em;
	margin: 0px -55px 65px -55px;
	padding-top:100px ;
	padding-bottom: 130px;
	background-color: #2C3539;

	
	font-size: 5em ;
	letter-spacing: 1px;
	font-family: 'Bebas Neue', cursive;
	
	
	/*padding:45px 0px 85px 0px;margin: 0px -55px 55px -55px;*/
	justify-content: center;
	display: flex;
	
	

}

.review-box{
	
	box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
	padding: 35px 15px 35px 15px ;
	margin: 
	5px 25px 0px 25px;
    display: flex;
    flex-direction: row;
	
	
	
	
}


.profile-info{
	display: flex;
	flex-direction: column;
	padding-left: 2px ;
	}

	.comments{
		display: flex;
		align-content: right;
		margin-left: 35px;
		margin-right: 10px;
	}

#one,#two,#three,#four,#five {
	padding: 0px 0px 85px ;
}




/* REVIEW FORM */


.contact{
	background-color: #2C3539;
    height: 833px;
	margin-left: -55px;
	margin-right: -55px;

    
}
.text-center{
    text-align: center;
    padding-top: 29px;
	font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
	color: white;

}
.form{
    max-width: 500px;
    margin: 25px auto;
}
.form-input{
    width: 100%;
    padding: 5px 3px;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    margin: 30px 0;
    
    
}
.text-footer{
    text-align: center;
    font-family:  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    color: white;

}


.background{
	background-color: #2C3539;
    
	margin-left: -55px;
	margin-right: -55px;
   
}

.btn{
	font-size: 19px;
	font-family: ;
	padding: 5px;
}




.logo{
	padding-left: 25px ;
	 
	 
 }
 
 .logo img{
	
	 width: 65px;
	 border-radius: 100%;
	 margin: 5px;
 }
 .nav-list{
	 width: 50%;
	
	 display: flex;
	 align-items: center;
 }
 .nav-list li {
	 list-style: none;
	 padding: 25px 30px;
 }
 .nav-list li a{
	 text-decoration: none;
	 color: white;
	 font-size: 25px;
	 font-family: 'Barlow Condensed', sans-serif;
 }
 .nav-list li a:hover{
	 text-decoration: none;
	 color: grey;
 }